#titulo{
	margin-top: -50px;
	color:FFFAFA;	
}

#softenSiem{
	 width: 400px;
	 margin-right: 550px;
	 margin-top: 25px;
}

#gerencieAqui{
	width: 400px;
	margin-left: 540px;
    margin-top: -90px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(5deg, #87CEFA, #4169E1);
	color: #FFF;
    margin:0;
    border-top: solid;
    border-top-width: 50px;
    border-top-color: #000000;
    border-right: solid;
    border-right-color: #87CEFA;
    border-left: solid;
    border-left-color: #87CEFA;
    border-left-width: 100px;
    border-right-width: 100px;
    border-bottom: solid;
    border-bottom-color: black;
    border-bottom-width: 15px; 
   
}

#quantidade{
    margin-bottom: 0px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 10px;
    margin-top: 12px; 
    margin-left: 0px; 
    margin-right: 15px;
    border-radius: 20px;

}

#nota5{
	margin-top: 5px; 
	margin-left: 900px; 
	margin-right: 10px;
	margin-bottom: 12px;
}

#avaliacao5 {
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 10px;
	margin-top: 0px; 
	margin-left: 900px; 
	margin-right: 15px;
    border-radius: 20px;
}

#mensagemErroAvaliacao5{
    margin-left: 900px;
}

#nota4{
	margin-top: -125px; 
	margin-left: 450px; 
	margin-right: 15px;
	margin-bottom: -2px;
}

#avaliacao4{
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 10px;
	margin-top: 15px; 
	margin-left: 450px; 
	margin-right: 15px;
	margin-bottom: 2px;
    border-radius: 20px;
}

#mensagemErroAvaliacao4{
    margin-left: 450px;
}

#nota3{
    margin-top: -118px; 
    margin-left: 0px; 
    margin-right: 15px;
    margin-bottom: 0px;
}

#avaliacao3{
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 10px;
    margin-top: 15px; 
    margin-left: 0px; 
    margin-right: 15px;
    margin-bottom: 2px;
    border-radius: 20px;
}

#mensagemErroAvaliacao3{
    margin-left: 0px;
}

#nota2{
    margin-top: -118px; 
    margin-left: 0px; 
    margin-right: 450px;
    margin-bottom: 0px;

}

#avaliacao2{
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 10px;
    margin-top: 15px; 
    margin-left: 0px; 
    margin-right: 450px;
    margin-bottom: 2px;
    border-radius: 20px;

}

#mensagemErroAvaliacao2{
    margin-right: 450px;
}

#nota1{
    margin-top: -118px; 
    margin-left: 0px; 
    margin-right: 900px;
    margin-bottom: 0px;

}

#avaliacao1{
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 10px;
    margin-top: 15px; 
    margin-left: 0px; 
    margin-right: 900px;
    margin-bottom: 2px;
    border-radius: 20px;

}

#mensagemErroAvaliacao1{
    margin-right: 900px;
}

#calculaPercentualAvaliacao {
    margin-bottom: 30px;
    margin-right: 450px;
    border-radius: 20px;
    width: 18%;
    padding: 15px;
    background-color: black;
    border: 3px solid #FFFF;
    color:#FFF
}

#calculaMediaAvaliacao {
    margin-top: -80px;
    margin-left: 450px;
    border-radius: 20px;
    width: 18%;
    padding: 15px;
    background-color: black;
    border: 3px solid #FFFF;
    color:#FFF
}

#ass_gus{
  color: #708090;
  position: relative;
  right: 400px;
  top: 0px;
}